@page
@model BabyStore.Pages.Admin.VoucherManagement.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Voucher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.VoucherCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.VoucherCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.MinimumOrderAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.MinimumOrderAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.CreatedBy)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Voucher.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
