@page
@model BabyStore.Pages.Admin.VoucherManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Voucher[0].VoucherCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voucher[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voucher[0].Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voucher[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voucher[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voucher[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voucher[0].MinimumOrderAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voucher[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voucher[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voucher[0].CreatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Voucher) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VoucherCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumOrderAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
