@page
@model BabyStore.Pages.UserMenu.CartModel

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Your Cart</h1>

@if (Model.CartItems.Count == 0)
{
    <p>Your cart is empty.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td><img src="@item.ProductImage"style="width:100px; height:100px;" /></td>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@string.Format("{0:n0} VNĐ", item.Price)</td>
                    <td>@string.Format("{0:n0} VNĐ", item.Quantity * item.Price)</td>
                    <td>
                        <form method="post" asp-page-handler="RemoveItem">
                            <input type="hidden" name="ProductId" value="@item.ProductId" />
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"><strong>Total:</strong></td>
                <td colspan="2"><strong>@string.Format("{0:n0} VNĐ", Model.TotalPrice)</strong></td>
            </tr>
        </tfoot>
    </table>
}