@page
@model BabyStore.Pages.UserMenu.ProductDetailsMenuModel

@{
    ViewData["Title"] = "ProductDetailsMenu";
}

<h1>ProductDetailsMenu</h1>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Product.Image"  class="img-thumbnail" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Cate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Cate.CateId)
        </dd>
    </dl>
</div>

<form method="post" asp-page-handler="AddToCart" asp-route-productId="@Model.Product.ProductId" asp-route-productName="@Model.Product.Name" asp-route-price="@Model.Product.Price" asp-route-productImage="@Model.Product.Image">
    <button type="submit" class="btn btn-primary">
        <img src="~/images/cart-icon.png" alt="Cart" class="cart-icon"/> Add to Cart
    </button>
</form>
